{
  "report-dir": "./outputs/reports/coverage",
  "reporter": [
    "lcov",
    "text-summary",
    "json-summary",
    "teamcity"
  ],
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/__test__/",
    "src/test"
  ],
  "require": [
    "ts-node/register"
  ]
}